<div class="column is-4">
    <div class="block homeblock">
    <h1>Vade Mecum</h1>

<p>From Merriam-Webster:</p>
<quote>_Vade mecum_ (Latin for "go with me") has long been used of manuals or guidebooks sufficiently compact to be carried in a deep pocket, and it would sometimes appear in the title of such works, as with one of the earliest known uses of the phrase in the title of the 1629 volume _Vade Mecum: A Manuall of Essayes Morrall, Theologicall_. From the beginning, it has also been used for constant companions that are carried about by a person, such as gold, medications, and memorized gems of wisdom. But these days, _vade mecum_ is primarily encountered in reference to works which are intended to serve as one-stop references or guides to a particular subject, whether or not such a work can actually be carried in one's pocket (a moot distinction, perhaps, in an age when such works can easily reside in a smartphone's memory).
</quote>
<p>Vade mecum.” _Merriam-Webster.com Dictionary_, Merriam-Webster, https://www.merriam-webster.com/dictionary/vade%20mecum. Accessed 26 Jan. 2022.</p>

<hr>
<h2>This is my Vade Mecum of Life. </h2>

<p>It began with the need of an outside influence to provide some tether to reality when I was struggling with mental health issues. The first document was [[~ Look Here]], a tool that in its current iteration has evolved in the specifics but continue to serve its specific function.</p>

<p>From there, I added writings ( #vademecum/anthology) that I found helpful. And images ( #vademecum/image).</p>

<p>My Vade Mecum has proven invaluable and, as a secular spiritualist, it has become my holy book. Sacred in what it provides but never dogmatic or stagnant in its content. </p>

<p>Because I've found this tool to be indispensable in my own life, I've reached a point where I want to share both its contents and its underlying philosophy with others. My hope is that there is someone who also needs this as much as I did when I started. I'm also creating a for guidance on how to create a Vade Mecum that is central to your own life (a Vademecum Vademecum, if you will).</p>

<p>As Merriam-Webster so keenly points out, we can now carry a variety of reference in our pockets these days. A personal Vade Mecum may prove far more useful than most content vying for our attention on our mobile devices. </p>

<p>May you find this tool a useful touchstone to help ground, center, and inspire. </p>



    </div>
</div>
